blockquote,
body,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
figure,
ol,
p,
pre,
ul
{
	margin: 0;
}

button,
dialog,
fieldset,
input,
legend,
ol,
ul
{
	padding: 0;
}

ol,
ul
{
	list-style: none;
}

table
{
	border-collapse: collapse;
}

a
{
	color: inherit;
}

a,
abbr
{
	text-decoration: none;
}

button,
dialog,
input
{
	background: none;
}

input:-webkit-autofill
{
	transition: background;
	transition-delay: 3600000s;
}

button
{
	cursor: pointer;
}

button,
input,
select,
textarea
{
	box-sizing: border-box;
	font: inherit;
}

button,
dialog,
iframe,
input,
img,
fieldset,
progress,
select,
textarea
{
	border: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="color"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner
{
	border: none;
}

input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
	-webkit-appearance: none;
}

[contenteditable]:focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus
{
	outline: none;
}

input::placeholder,
textarea::placeholder
{
	color: inherit;
}

input:invalid,
select:invalid,
textarea:invalid
{
	box-shadow: none;
}

button[disabled],
input[disabled]
{
	pointer-events: none;
}

audio,
img,
video
{
	max-width: 100%;
}
